/* Initial Config */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* containers */
#container {
  background-color: #333;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#input {
  background-color: #333;
  color: #f0f0f0;
  /* width: 50vw; */
  text-align: center;
}

#output {
  /* background-color: #f0f0f0;
  color: #333; */
  /* width: 50vw; */
  font-weight: bolder;
  color: #f0f0f0;
  /* text-align: center; */
  padding: 0 10px 0 10px;
}

/* components */
h1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 2vw;
}

h1#title {
  font-size: 3vw;
}

p#letter1 {
  color: #f0f0f0;
  background-color: #333;
  border: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 30vw;
  /* width: 50vw;
  height: 70vh; */
}

pre#diamont {
  /* max-height: 100vh; */
  /* max-width: 48vw; */
  font-size: 1.5vh;
  text-align: left;
  /* margin-left: 2vw; */
}
